body {
    background-color: #eeff94;
}

.AccBtnStyle {
    background-color: rgb(25, 211, 23);
    /*color: #c7e3ba;*/
    border: 1px rgb(20, 147, 18);
    font-size: 19px;
    float: none;
    margin-right: 90px !important;
    width: 90px;
    height: 67px;
    font-weight: bold;
    box-shadow: 2px 3px #528009 inset;
}

#tab {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#midle button {
    height: 45px;
    width: 45px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 100px;
    transition: 0.2s;
}

/*pressed*/
#midle button.pr {
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
}

#midle button.pr:hover {
    background: rgb(53, 167, 110);
}

#midle button.pr:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

/*unpressed*/
#midle button.unpr {
    background: rgb(226, 90, 83);
    box-shadow: 0 -3px rgb(200, 80, 73) inset;
}

#midle button.unpr:hover {
    background: rgb(200, 80, 73);
}

#midle button.unpr:active {
    background: rgb(182, 73, 66);
    box-shadow: 0 3px rgb(182, 73, 66) inset;
}

button,
button:active,
button:focus {
    outline: none;
}

/*startButton*/
#startButton {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    margin-left: 100px;

}

#startButton:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

#startButton:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

/*text*/
#menu p {
    color: #3c3d40;
    font-size: 16px;
    font-family: «Libre Baskerville», serif;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    padding-top: 15px;
}

#status {
    /*width: 80%;*/
    border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    padding: 15px 20px 15px 80px;
    margin: 0;
    -webkit-box-shadow: 2px 2px 3px #999;
    -moz-box-shadow: 2px 2px 3px #999;
    /*IE min-height hack*/
    min-height:20px;
    height:20px;
    overflow:visible;

    position:relative;
    bottom:6px;
    right: 6px;
    border: 1px solid #999999;
    /*Set the position of the background image*/
    background-position: 20px 50%;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #FFC;

}
#status p{
    color: #3c3d40;
    font-family: «Libre Baskerville», serif;
}